<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <id>artifactory-release</id>
            <username>${ARTIFACTORY_USER}</username>
            <password>${ARTIFACTORY_TOKEN}</password>
        </server>
        <server>
            <id>artifactory-snapshots</id>
            <username>${ARTIFACTORY_USER}</username>
            <password>${ARTIFACTORY_TOKEN}</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>central-proxy</id>
            <name>Artifactory proxy of central repo</name>
            <url>https://maven.artifactory.homedepot.com/artifactory/maven</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>
</settings>